<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout :: head('Редактировать пользователя')}"></head>
<body>
<header th:replace="~{fragments/layout :: header}"></header>
<section class="mt-5">
    <div class="container">
        <h2>Редактировать пользователя</h2>
        <form th:action="@{/admin/users/save}" th:object="${user}" method="post" class="mb-3">
            <input type="hidden" th:field="*{id}"/>
            <div class="mb-3">
                <label for="username" class="form-label">Имя пользователя:</label>
                <input type="text" th:field="*{username}" id="username" class="form-control" readonly/>
            </div>
            <div class="mb-3">
                <label for="length" class="form-label">Мин. длина пароля:</label>
                <input type="text" th:field="*{length}" id="length" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="month" class="form-label">Срок (мес.):</label>
                <input type="text" th:field="*{month}" id="month" class="form-control"/>
            </div>
            <div class="mb-3">
                <input type="checkbox" th:field="*{blocked}" id="blocked" class="form-check-input"/>
                <label for="blocked" class="form-check-label">Заблокировать пользователя</label>
            </div>
            <div class="mb-3">
                <input type="checkbox" th:field="*{restriction}" id="restriction" class="form-check-input"/>
                <label for="restriction" class="form-check-label">Включить ограничения на пароль</label>
            </div>
            <button type="submit" class="btn btn-outline-success">Сохранить</button>
        </form>
        <a th:href="@{/admin/users}" class="btn btn-outline-primary">Назад к списку</a>
    </div>
</section>

<footer th:replace="~{fragments/layout :: footer}"></footer>
<th:block th:fragment="modals">
    <div class="modal fade" id="about" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Лабораторная работа по криптографии</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <p>Группа: ПИбд-43</p>
                    <p>ФИО: Катышева Наталья Евгеньевна</p>
                    <p>Вариант: 12</p>
                    <p>Ограничения: Чередование цифр, знаков арифметических операций и снова цифр</p>
                    <p>Режим шифрования DES: OFB</p>
                    <p>Добавление к ключу случайного значения: нет</p>
                    <p>Алгоритм хеширования пароля: SHA</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:replace="~{fragments/layout :: scripts}"></th:block>
</body>
</html>
