<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, admin-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:utext="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <header th:fragment="header">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Справка
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><div class="dropdown-item" data-bs-toggle="modal" data-bs-target="#about">О программе</div></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <footer th:fragment="footer"></footer>
    <th:block th:fragment="modals">
        <div class="modal fade" id="about" tabindex="-1" aria-labelledby="aboutLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="aboutLabel">Лабораторная работа по криптографии</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <p>Группа: ПИбд-43</p>
                        <p>ФИО: Катышева Наталья Евгеньевна</p>
                        <p>Вариант: 12</p>
                        <p>Ограничения: Чередование цифр, знаков арифметических операций и снова цифр</p>
                        <p>Режим шифрования DES: OFB</p>
                        <p>Добавление к ключу случайного значения: нет</p>
                        <p>Алгоритм хеширования пароля: SHA</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
</th:block>
    <th:block th:fragment="authErrorModal(show,message,reload,modalClass)">
        <div class="modal fade" id="error" tabindex="-1" aria-labelledby="errorLabel" aria-hidden="true"
             data-show="false"
             th:attr="data-show=${show} ? 'true' : 'false', data-reload=${reload ? 'true' : 'false'}">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content" th:classappend="${modalClass}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorLabel"
                            th:text="${modalClass.equals('alert-success')} ? 'Успешно' : 'Ошибка'">
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body" th:utext="${message}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:classappend="${modalClass.equals('alert-success')} ? 'btn-success' : 'btn-danger'">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    <th:block th:fragment="scripts">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
        <script src="/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    </th:block>

</body>
</html>
